.recommended-flex {
  display: flex;
  margin-left: 20rem;
}
.recommended-title {
  margin: 20px 0px 20px 20rem;
  font-size: 20px;
  font-family: sans-serif;
}
.btns {
  padding: 10px 20px;
  border: 0.6px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  color: #323232;
  background: transparent;
  margin-right: 6px;
}