nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2rem;
  z-index: 999;
  border-bottom: 2px solid #f3f3f3;
  padding: 20px;

}

input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
  position: relative;
  width: 14rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: #494949;
  cursor: pointer;
}